.container{
    max-width: 1000px;
    margin: auto;
    display: grid;
    gap: 25px;
    border: 2px solid;
    background-color: antiquewhite;
    
}


.top-card-right{
    border: solid 2px;

}


.top-card-left{
    border: solid 2px;

}

.middle-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pic-card {
    width: 150px;
    height: 25vh;
    border: 2px solid;
}

.info-card {
    width: 60%;
    border: 2px solid;
}

.pic-card img {
    width: 100%;
}

.bottom-card {
    align-items: center;
    border: 2px solid;
}