.header{
display: flex;
justify-content: space-around;
align-items: center;
border:2px solid;
padding: 20px;
}


.navigation-bar{
    display: flex;
    gap: 50px;

}


.start{
    border: 4px;
    border-style: double;
    padding:20px 20px;
    text-align:center;
}

.h2{
    font-size:48px;
    margin-bottom:10px;
}

.start p{
    color:rgb(28, 11, 11);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 1em;
}

.box1,
.box2,
.box3{
    border: 2px solid;
    padding: 20px;

}

.flex-container{
    display: flex;
    border: 4px double black;
    justify-content: space-around;



}

.flex-box1,
.flex-box2,
.flex-box3{
    border: solid black;
    margin: 20px;
    width: 400px;
    height: 200px;
    border-radius: 15px;


}




